
.backgroundimage{
    background-image: url("mythology-4.jpg");
    opacity: 0.7;
    padding-bottom: 5%;
    padding-top: 5%;
  
  }

  .rcorners1 {
    border-radius: 25px;
    background-color: antiquewhite;
    padding: 20px; 
    width: 80%;
    height: 100%; 
    margin-bottom: 100px;
    margin-left: auto;
    margin-right:auto;
  
  }

  #manalssection img:hover {
    border: 3px solid black;
}
  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.solid {border-style: solid;
        border-width: 2mm;
        padding: 15px;
  background: white;
  background-clip: content-box;
}

.div.a {
  text-align: center;
}